:root {
  /* colors */
  --clr-backdrop: 235 18% 26%;
  --clr-muted: 230 6% 69%;
  --clr-text: 230 29% 19%;
  --clr-background: 230 29% 99%;
  --clr-accent: 4 100% 68%;
  --clr-error: 4 58% 78%;
  color-scheme: light;

    /* font weight */
    --fw-700: 700;
    --fw-400: 400;

    /* transition */
    --ease-in: cubic-bezier(0.165, 0.84, 0.44, 1)
}

/* https://piccalil.li/blog/a-modern-css-reset */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Utility class */

.hidden {
  display: none !important;
}

/*** Global Styling ***/

body {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: hsl(var(--clr-text));
    background-color: hsl(var(--clr-backdrop));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main {
  background-color: hsl(var(--clr-background));
  margin: 2em auto;
  /* border-radius: 10px; */
  max-width: 400px;
}

button, input {
  cursor: pointer;
}

h1 {
    font-size: 2.5rem;
    margin-top: .5em;
    margin-bottom: .5em;
}

.wrapper {
  background-color: hsl(var(--));
  min-height: 100vh;
}

.signup-pg {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.col-content {
    margin: 1em 2em;
    max-width: 300px;
}

ul {
    padding-left: 0;
}

li {
    display: flex;
    gap: .75em;
    padding-top: 0;
    list-style: none;
}

.list-icon {
    display: inline;
    padding-top: 5px;
}

.list-item {
    align-items: flex-start;
    padding-top: 0;
}

/* form */

label {
    width: 100%;
}

input {
  margin-bottom: 1em;
  padding: 1em;
  border-radius: var(--round--sm);
  border: 1px solid hsl(var(--clr-muted));
  width: 100%;
  color: hsl(var(--clr-text));
  transition: background-color 200ms var(--ease-in),
    box-shadow 200ms var(--ease-in);
}

input::placeholder {
  color: hsl(var(--clr-muted));
}

input:focus {
  outline: 2px solid transparent;
  box-shadow: 0px 0px 0px 3px hsl(var(--clr-background)), 
  0px 0px 0px 6px hsl(var(--clr-accent));
}


input.error {
  background-color: hsl(var(--error) / 0.4);
  box-shadow: 0 0 0 2px hsl(var(--accent));
  color: hsl(var(--accent));
}

.error-message {
  color: hsl(var(--accent));
}

fieldset {
  border: none;
  padding: 0;
  text-align: center;
  max-width: 300px;
}

fieldset > * {
  max-width: 100%;
}

legend {
    font-size: .85em;
    font-weight: var(--fw-700);
    padding-top: 1em;
    padding-bottom: .5em;
}

.email-input {
    padding: 1em;
    /* border: 1px solid hsl(var(--clr-backdrop)); */
    border-radius: 10px;
    opacity: .5;
    width: 100%;
}

.submitted-email {
  font-weight: var(--fw-700);
}

.user-email {
  font-weight: 700;
}

.success-page {
  display: flex;
  margin-top: 2em;
  flex-direction: column;
  justify-content: space-between;
}

.success-page > * {
  padding-top: 3em;
  padding-bottom: 1em;
}

.success-title {
  margin: 0;
  line-height: 1.15em;
  margin-bottom: 1em;
}

.success-img {
  margin-top: 1em;
  margin-bottom: 2em;
}

.success-exit-button {
  margin-top: 11em;
}

.btn {
  background-color: hsl(var(--clr-text));
  color: hsl(var(--clr-background));
  padding: 1em;
  border: none;
  border-radius: 10px;
  width: 100%;
  position: relative;
  transform-style: preserve-3d;
}

.btn:hover {
  background: linear-gradient(.25turn, #FF496F, #FF5B3F);
  box-shadow: 0px 15px 20px hsl(2, 100%, 86%);
}

.btn:focus {
  outline: 2px solid transparent;
}

.btn:focus-visible {
  box-shadow: 0px 0px 0px 3px hsl(var(--clr-background)),
    0px 0px 0px 6px hsl(var(--clr-accent));
}

/*** Footer ***/

.attribution {
  color: hsl(var(--clr-background));
}

.attribution a {
  color: hsl(var(--clr-background))
}

@media (min-width: 770px) {
  main {
    max-width: 900px;
    border-radius: 10px;
    margin: 2em auto;
  }
  main > .success-page {
    width: 1000px;
    margin: 2em auto;
  }

  .success-page > * {
    padding-top: 1em;
  }
  
  .success-exit-button {
    margin-top: 0;
    margin-bottom: 0;
  }
  .signup-pg {
    justify-content: center;
    flex-direction: row-reverse;
    margin: 1em;
    padding: 2em;
  }

  .col-content {
    max-width: 400px;
    padding: 1em;
  }

  fieldset {
    max-width: 400px;
  }

  h1 {
    font-size: 2.85em;
    letter-spacing: .05em;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 2em;
  }

  li {
    padding: .5em 0;
  }
}